/* Global App Utilities */
.selection-palette {
  ::selection {
    background-color: #B1D3B9;
    color: #172A25;
  }
}

.dark .selection-palette {
  ::selection {
    background-color: #2A835F;
    color: #FFFFFF;
  }
}
